<div id="format-header" class="doc-format-tooltip" md-whiteframe="4dp" layout="column">
    <div layout="row" class="mb-10">
        <div flex>
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </div>
        <div flex layout="row" class="highlight">
            <div class="logo"></div>
            <div flex>
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
            </div>
        </div>
    </div>
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
    <div layout="column" class="mt-10">
        <div class="line w-10"></div>
        <div class="line"></div>
        <div class="line"></div>
    </div>
</div>