<div id="email-template-3-blue" class="email-template" style="width: 595px;min-height: 842px;margin: 20px;position:relative;zoom: 0.4;" md-whiteframe="2dp">
    <div style="height: 40px;text-align: center;background: #05a3ec;color: #fff;margin-bottom: 30px">
        <div style="font-size: 20px;padding: 5px 0;">INVOICE</div>
    </div>

    <div class="sub-header" style="padding: 10px;overflow: hidden;">
        <div class="left-content" style="width: 50%;height: 100%;float: left;">
            <div style="margin-bottom: 20px">
                <div><span style="color: #aaa;">Date: </span> <b> 2017-10-10</b></div>
                <div><span style="color: #aaa;">Invoice no: </span> <b> INV 0000</b></div>
            </div>
            <div>Client name</div>
            <div>Client street</div>
            <div>Client city</div>
            <div>Client country</div>
        </div>
        <div class="right-content" style="width: 50%;height: 100%;float: right;">
            <div class="logo" style="position:relative;float: left;width:100px;height: 150px;border-right:solid 1px #eee;">
                <!--<img src="assets/images/logos/cc-cygil.png" alt="" style="position:absolute;padding-right:10px;height: 90px;left: 0;right: 0;top: 0;bottom: 0;margin: auto;">-->
            </div>
            <div style="float: left;margin-left: 10px">
                <div>Company name</div>
                <div>Company street</div>
                <div>Company city</div>
                <div>Company country</div>
                <div style="clear: both;color: #aaa;padding-top: 10px;margin-top: 10px;font-size: 12px;">
                    <div>0712 890 890</div>
                    <div>email@gmail.com</div>
                    <div>www.website.com</div>
                </div>
            </div>
        </div>
    </div>
    <div class="list" style="padding: 10px;">
        <div class="list-header" style="height: 40px;background: #eee;">
            <div style="float: left;color: #aaa;padding: 10px;width: 33%">
                Item
            </div>
            <div style="float: left;color: #aaa;padding: 10px;width: 33%">
                Item
            </div>
            <div style="float: left;color: #aaa;padding: 10px;width: 33%;text-align: right">
                Item
            </div>
        </div>
        <div class="list-body">
            <div class="list-header" style="height: 40px;border-bottom: solid 1px #eee" ng-repeat="item in [1,1,1,1,1] track by $index">
                <div style="float: left;color: #aaa;padding: 10px;width: 33%">
                    Item
                </div>
                <div style="float: left;color: #aaa;padding: 10px;width: 33%">
                    Item
                </div>
                <div style="float: left;color: #aaa;padding: 10px;width: 33%;text-align: right">
                    Item
                </div>
            </div>
        </div>
        <div class="list-footer" style="height: 40px;margin-top: 20px">
            <div style="float: left;width: 33%;padding: 10px"></div>
            <div style="float: left;width: 33%;padding: 10px;font-size: 16px">
                Total
            </div>
            <div style="float: left;width: 33%;padding: 10px;text-align: right">
                100,000
            </div>
        </div>
    </div>
    <div class="template-footer" style="padding: 10px;position:absolute;bottom: 0;">
        <div style="margin: 5px 0;font-size: 12px"><b>Thank you for your business</b></div>
        <div style="font-size: 12px;color: #aaa;padding-top: 5px;border-top: solid 1px #eee">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras eget risus enim. Vivamus sit amet placerat leo, ut interdum lacus. Nulla facilisi. Quisque finibus eu lectus vel venenatis.
        </div>
    </div>

</div>
