#mail {
  .product-img-cont{
    padding: 20px;
    border: dashed 1px #aaaaaa;
    border-radius: 10px;
    .img-up-invitation{
      position: absolute;
      color: #CCCCCC;
      md-icon{
        font-size: 70px;
        opacity: 0.2;
        width: 70px;
        height: 55px;
      }
    }
  }
  .img-size-msg{
    margin-top: 10px;

    md-icon{
      color: rgba(33, 150, 243, 0.66)!important;
      margin-right: 10px;
      font-size: 22px;
    }
    font-size: 12px!important;
    color: rgba(33, 150, 243, 0.66);
    font-weight: 300;
  }
  .product-preview{
    .msg{
      color: rgba(53, 53, 53, 0.2);
      font-weight: normal;
      md-icon{
        color: rgba(53, 53, 53, 0.2);
      }
    }
    .img-parameters{
      font-size: 12px;
      margin-top: 10px;
    }
    >div{
      width: 190px;
      height: 190px;
      padding: 10px;
      margin-left: 15px;
    }
    >span{
      margin-bottom: 10px;
      margin-left: 10px;
    }
  }
  .cropArea {
    background: #E4E4E4;
    overflow: hidden;
    width:350px;
    height:350px;
  }
  .add-product{
    color: rgb(3,155,229);
    height: 35px;
    margin-top: 15px;
  }
  .page-load-cover{
    position: absolute;
    width: 100%;
    height: 100%;
    background: #fff;
    z-index: 3;
    opacity: 1;
    md-progress-circular{
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      margin: auto;
    }
  }
  .page-load-cover.reveal{
    opacity: 0;
    -webkit-transition: opacity 1s;
    -moz-transition: opacity 1s;
    -ms-transition: opacity 1s;
    -o-transition: opacity 1s;
    transition: opacity 1s;
  }
  form{
    font-size: 1.4rem;
  }

  .reminder-state-dis{
    padding: 5px;
    border-radius: 3px;
    background-color: #cccccc;
    font-size: 11px;
    opacity: 0.7;
    margin-left: 10px;
  }
  .reminder-state-en{
    padding: 5px;
    border-radius: 3px;
    background-color: limegreen;
    color: #fff;
    font-size: 11px;
    opacity: 0.7;
    margin-left: 10px;
  }

  .general-cont{
    -webkit-filter: none;
    -moz-filter: none;
    -o-filter: none;
    -ms-filter: none;
    filter: none;
    -webkit-transition: filter 0.5s;
    -moz-transition: filter 0.5s;
    -ms-transition: filter 0.5s;
    -o-transition: filter 0.5s;
    transition: filter 0.5s;
  }

  .general-cont.page-setup-cover{
    pointer-events: none;
    height: 100%;
    background: rgba(0,0,0,0.2);
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
    -webkit-transition: filter 0.5s;
    -moz-transition: filter 0.5s;
    -ms-transition: filter 0.5s;
    -o-transition: filter 0.5s;
    transition: filter 0.5s;
  }

  .taxesInGroup{
    position: relative;
    height: 100px;
    background-color: #fafafa;
    margin-right: 20px;
    border-radius: 3px
  }

  .arrow-up {
    position: absolute;
    top: -10px;
    height: 0;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 12px solid rgb(245, 245, 245);
  }

  .preloader-dot-auto{
    height: 10px;
    position: absolute;
    right: 40px;
    top: 15px;
    img{
      width: 40px;
    }
  }

  .preloader-dot-auto-center{
    height: 10px;
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    top: 0;
    margin: auto;
    img{
      width: 40px;
    }
  }

  .rel{
    position: relative;
  }

  .list-header{
    max-height: 39px;
    border-bottom: solid 1px #eeeeee;
    padding: 10px 16px;
    background: #fafafa;
    font-weight: 400;
    color: #aaa;
  }
  .carded-dashboard-list{
    padding: 0px;
    md-list-item:not(:last-child){
      border-bottom: solid 1px #eeeeee;
    }
  }
  .tax-groups{
    md-card-content{
      md-content{
        overflow: hidden;
      }
    }
  }
  .invoice-terms{
    .new-row{
      padding-top: 20px;
    }
  }
  .editable-img{
    min-height: 150px;
    min-width: 150px;
    margin-bottom: 10px;
  }
  .inv-read-footer {

    .note {
      font-size: 10pt;
      margin-bottom: 8pt;
    }

    .logo {
      width: 32px!important;
      min-width: 32px!important;
      height: 32px!important;
      font-size: 17px!important;
      font-weight: 500!important;
      margin-right: 24px!important;
      border-radius: 2px!important;
      padding-right: 0px!important;
      overflow: hidden;
    }

    .small-note {
      font-size: 8pt;
      line-height: normal;
    }
  }
  .issuer {
    margin-right: -88px;
    padding-right: 66px;

    .logo {
      width: 160px;
      height: 235px;
      font-size: 72px;
      border-right: 1px solid rgba(0,0,0,0.12);
      .logo-upload{
        font-size: 14px !important;
      }
      .if-ng-md-file-input{
        font-size: 12px;
        text-align: left;
      }
      .lf-ng-md-file-input-preview-container {
        -moz-border-radius: 0!important;
        -webkit-border-radius: 0!important;
        border-radius: 0!important;
        -moz-box-shadow: none!important;
        -webkit-box-shadow: none!important;
        box-shadow: none!important;
        border: none!important;
        .lf-ng-md-file-input-drag{
          border: none;
        }
      }
      .lf-ng-md-file-input-x{
        cursor: pointer;
      }
    }

    .info {
      padding: 16px;
    }
  }

  .gen-template{
    padding-right: 0px;
    .logo{
      overflow: hidden;
      width: 250px;
      padding-right: 30px;
      text-align: center;
    }
    table{
      width: 100%;
      tr{
        td:first-child{
          width: 300px;
        }
      }
    }
  }
    //Common Styles
  .content-block-wrapper{
    padding: 10px 24px;
    md-content{
      overflow-y: scroll ;
      overflow-x: hidden;
      min-height: 350px;
      max-height: 350px;
    }
    .card-actions-top{
      background: whitesmoke;
      .new-row{
        background: whitesmoke;
      }
    }
    md-card{
      background: none;
      md-card-header{
        background: rgb(245,245,245);
      }
      md-card-actions{
        margin: 0;
        .new-row{
          border: none!important;
        }
      }
    }
    .carded-list-group{
      height: 200px;
      padding: 10px 0 10px 10px;
    }
    .add-new{
      margin: 0;
    }
    .action-list-item{
      margin: 15px 0;
    }
    .heading-lev2{
      margin-top: 20px;
      font-size: 16px;
      color: #777777;
    }
    .heading-lev3{
      margin-top: 15px;
      font-size: 14px;
      color: #888888;
    }
    .block-add-btn{
      .md-button{
        margin-left: 0px;
      }
    }
    .head-inline-switch{
      margin-bottom: 0px;
      margin-top: 20px;
    }
    .headered{
      md-card-content{
        padding-top: 0;
      }
      .md-button{
        margin-top: 5px;
      }
    }
    .full{
      width: 100%;
    }
    .top{
      margin-top: 0px!important;
      padding-top: 0px!important;
    }
    .top-20{
      margin-top: 20px!important;
    }
    .no-bottom{
      margin-bottom: 0px;
    }
    .bottom{
      margin-bottom: 10px;
    }
    .autocomp-inset{
      margin-top: 0px;
    }
    .autocomp-inset {
      md-autocomplete{
        height: 60px;
        md-autocomplete-wrap{
          md-input-container{
            margin-bottom: 0;
          }
        }
      }
    }
    .group-ops{
      //padding: 20px 10px 10px 10px;
      //background: rgba(238, 238, 238, 0.29);
      border-radius: 4px;
      //border: solid 1px rgba(204, 204, 204, 0.25);
      .sample-row{
        md-input-container{
          margin-top: 0px;
          margin-bottom: 5px;
        }
      }
      .new-row{
        border: none!important;
        border-radius: 0;
        //background: rgba(0,0,0,0.02);
        padding: 10px!important;
        md-input-container{
          margin-bottom: 0px;
          margin-top: 5px;
        }
        md-input-container.tax-radio{
          margin-bottom: 20px;
        }
      }
      .new-row-parent{
        @extend .new-row;
        padding: 10px;
      }
      .new-row-dd{
        @extend .new-row;
        md-input-container{
          margin-bottom: 10px;
        }
      }
    }
  }
  .switches-block{
    md-input-container{
      margin-top: 0px;
    }
  }
  .add-currency-aro{
    position: absolute;
    display: block;
    top: 20px;
    margin-left: 9px;
  }
  .curr-aro-wrap{
    position: relative;
  }
  .bottom-fixed-bar{
    position: absolute;
    bottom: 0;
    width: 100%;
    background: #Fff;
    z-index: 9999;
    padding: 10px 20px;
  }

  .sidenav-active{
    background: rgba(158,158,158,0.2);
  }
  .settings-switch{
    margin: 0;
  }

    // Center
    .center {
      margin-top: 30px;
        .header {
            padding: 24px 0;

            .sidenav-toggle {
                margin: 0;
                width: 56px;
                height: 56px;
                background: #FFFFFF;
                border-radius: 0;
                border-right: 1px solid rgba(0, 0, 0, 0.12);
            }

            .search {
                height: 56px;
                line-height: 56px;
                padding: 18px;
                background: #FFFFFF;

                .icon {
                    margin: 0;
                }

                input {
                    padding-left: 16px;
                    height: 56px;
                    color: rgba(0, 0, 0, 0.54);
                }
            }
        }

        .content-card {

            .toolbar {
                position: relative;
                padding: 8px 16px;

                &.mail-read-pane-toolbar {
                    display: none;
                }

                .page-info {
                    font-weight: 500;
                    margin: 0 8px;
                    white-space: nowrap;
                }
            }

            .content-wrapper {
                overflow: hidden;
                position: relative;

                .mail-tabs {

                    md-tabs-wrapper {
                        display: none;
                    }

                    md-tabs-content-wrapper {
                        top: 0;
                    }

                    .content {
                        position: absolute;
                        top: 0;
                        right: 0;
                        bottom: 0;
                        left: 0;
                        padding: 0;

                        &.mail-list-pane {
                            border-right: 1px solid rgba(0, 0, 0, 0.12);
                            background: #FAFAFA;
                        }

                        &.mail-read-pane {
                            padding: 24px;
                        }
                    }
                }
            }
        }
    }
}

// RESPONSIVE
@media screen and (min-width: $layout-breakpoint-md) {

    #mail {

        .center {

            .content-card {

                .content-wrapper {

                    .mail-tabs {

                        md-tabs-content-wrapper {

                            md-tab-content {
                                width: 50%;
                                opacity: 1;
                                animation: none !important;

                                * {
                                    visibility: visible;
                                    transition: none !important;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

}

// RESPONSIVE
@media screen and (max-width: $layout-breakpoint-xs) {

    #mail {

        .center {

            .content-card {

                .content-wrapper {

                    .mail-tabs {

                        .content {
                            position: relative;
                        }
                    }
                }
            }
        }
    }
}
