<!-- SIDENAV HEADER -->
<div class="header" layout="column" layout-align="space-between start">

    <div class="logo" layout="row" layout-align="start center">
        <span class="logo-icon">
          <img src="app/core/app_icons/settings_app_icon.png" alt=""/>
        </span>
        <span class="logo-text">Settings</span>
    </div>

</div>
<!-- / SIDENAV HEADER -->

<!-- SIDENAV CONTENT -->
<md-content ms-scroll class="content" flex>

  <div class="navigation-simple" layout="column" ng-show="allGenLoaded">
    <!--<div class="item subheader">General</div>-->

    <md-button class="item" aria-label="inbox" ng-click="vm.settingsCategoryNavigation('default')" ng-class="{'sidenav-active': vm.sidenavActiveState == 'default'}">
      <div layout="row" layout-align="start center">
        <img src="app/core/app_icons/settings_app_icon_black.png" class="sidenav-img-ico" alt=""/>
        <span class="title">General</span>
      </div>
    </md-button>

    <!--<div class="item subheader">Preferences</div>-->
    <md-divider></md-divider>

    <md-button class="item" aria-label="label notes" ng-click="vm.settingsCategoryNavigation('products')" ng-class="{'sidenav-active': vm.sidenavActiveState == 'products'}">
      <div layout="row" layout-align="start center">
        <img src="app/core/app_icons/product_app_icon_black.png" class="sidenav-img-ico" alt=""/>
        <span class="title">Plans</span>
      </div>
    </md-button>

    <md-button class="item" aria-label="label notes" ng-click="vm.settingsCategoryNavigation('webhooks')" ng-class="{'sidenav-active': vm.sidenavActiveState == 'webhooks'}">
      <div layout="row" layout-align="start center">
        <i class="material-icons sidenav-img-ico">share</i>
        <span class="title">WebHooks</span>
      </div>
    </md-button>

    <md-button class="item" aria-label="label notes" ng-click="vm.settingsCategoryNavigation('emailtemplate')" ng-class="{'sidenav-active': vm.sidenavActiveState == 'emailtemplate'}">
      <div layout="row" layout-align="start center">
        <img src="app/core/app_icons/quotation_app_icon_black.png" class="sidenav-img-ico" alt=""/>
        <span class="title">Email Templates</span>
      </div>
    </md-button>

    <md-button class="item" aria-label="label notes" ng-click="vm.settingsCategoryNavigation('invoice')" ng-class="{'sidenav-active': vm.sidenavActiveState == 'invoice'}">
      <div layout="row" layout-align="start center">
        <img src="app/core/app_icons/invoice_app_icon_black.png" class="sidenav-img-ico" alt=""/>
        <span class="title">Invoice</span>
      </div>
    </md-button>

    <md-button class="item" aria-label="label notes" ng-click="vm.settingsCategoryNavigation('payment')" ng-class="{'sidenav-active': vm.sidenavActiveState == 'payment'}">
      <div layout="row" layout-align="start center">
        <img src="app/core/app_icons/payment_app_icon_black.png" class="sidenav-img-ico" alt=""/>
        <span class="title">Payments</span>
      </div>
    </md-button>

    <!--<md-button class="item" aria-label="label notes" ng-click="vm.settingsCategoryNavigation('quotation')" ng-class="{'sidenav-active': vm.sidenavActiveState == 'quotation'}">-->
      <!--<div layout="row" layout-align="start center">-->
        <!--<img src="app/core/app_icons/quotation_app_icon_black.png" class="sidenav-img-ico" alt=""/>-->
        <!--<span class="title">Quotation</span>-->
      <!--</div>-->
    <!--</md-button>-->

    <!--<md-button class="item" aria-label="label notes" ng-click="vm.settingsCategoryNavigation('adjustments')" ng-class="{'sidenav-active': vm.sidenavActiveState == 'adjustments'}">-->
      <!--<div layout="row" layout-align="start center">-->
        <!--<md-icon md-font-icon="icon-inbox" class="s16 blue-grey-fg"></md-icon>-->
        <!--<span class="title">Adjustments</span>-->
      <!--</div>-->
    <!--</md-button>-->

    <!--<md-button class="item" aria-label="label notes" ng-click="vm.settingsCategoryNavigation('inventory')" ng-class="{'sidenav-active': vm.sidenavActiveState == 'inventory'}">-->
      <!--<div layout="row" layout-align="start center">-->
        <!--<img src="app/core/app_icons/inventory_app_icon_black.png" class="sidenav-img-ico" alt=""/>-->
        <!--<span class="title">Inventory</span>-->
      <!--</div>-->
    <!--</md-button>-->

    <!--<div class="item subheader">Taxes</div>-->
    <md-divider></md-divider>

    <md-button class="item" aria-label="inbox" ng-click="vm.settingsCategoryNavigation('individual-tax')" ng-class="{'sidenav-active': vm.sidenavActiveState == 'individual-tax'}">
      <div layout="row" layout-align="start center">
        <!--<md-icon md-font-icon="icon-cash-usd" class="s16"></md-icon>-->
        <img src="app/core/app_icons/tax.png" class="sidenav-img-ico" alt=""/>
        <span class="title">Individual Tax</span>
      </div>
    </md-button>

    <md-button class="item" aria-label="inbox" ng-click="vm.settingsCategoryNavigation('tax-groups')" ng-class="{'sidenav-active': vm.sidenavActiveState == 'tax-groups'}">
      <div layout="row" layout-align="start center">
        <!--<md-icon md-font-icon="icon-cash-multiple" class="s16"></md-icon>-->
        <img src="app/core/app_icons/tax_group.png" class="sidenav-img-ico" alt=""/>
        <span class="title">Tax Groups</span>
      </div>
    </md-button>

  </div>

</md-content>
<!-- / SIDENAV CONTENT -->
