<md-dialog class="prompt-dialog guided-payment" style="width: 65%;">
    <md-toolbar>
      <div class="md-toolbar-tools" layout="row" layout-align="space-between center">
        <div layout="row" layout-align="start center">
          <md-icon md-font-icon="icon-login"></md-icon>
          <h3>Register with Avalara</h3>
        </div>
        <md-button class="md-icon-button" ng-click="vm.closeDialog()" aria-label="Close dialog">
          <md-icon md-font-icon="icon-close"></md-icon>
        </md-button>
      </div>
    </md-toolbar>
  
  
    <md-content class="p-16" ms-scroll>
      <div layout="row">
        <div layout="column" class="guide-portion" flex>
          <div layout="column" style="margin-bottom: 20px">
            <h2 class="mb-10">Avalara..</h2>
          </div>
          <p class="m-0">
            "Avalara is software for automated tax compliance. Whether you are selling online, starting a new business, or need help
            filing internationally Avalara can help."
          </p>
          </br>
          <i class="op-5">For more information, visit
            <a href="https://www1.avalara.com/us/en/index.html" target="_blank">Avalara</a>
          </i>
        </div>
        <div class="w-20"></div>
        <div class="form-portion" layout="column" flex="40">
          <md-content class="md-padding" md-whiteframe="3dp" flex>
            <form id="avalaraTaxForm" name="vm.avalaraTaxForm" ng-submit="vm.submitAvalaraTax()" novalidate>
              <div layout="row" layout-align="center center">
                <md-input-container>
                  <md-radio-group name="mode" ng-required="true" ng-model="vm.avaTax.mode" layout="row" class="cc-switch-buttons-group">
                    <md-radio-button value="Development" class="cc-switch-buttons" md-ink-ripple ng-style="vm.avaTax.mode == 'Development' ? {'z-index':'1'} : {'z-index':'0'}">Development</md-radio-button>
                    <md-radio-button value="Production" class="cc-switch-buttons" md-ink-ripple ng-style="vm.avaTax.mode == 'Production' ? {'z-index':'1'} : {'z-index':'0'}">Production</md-radio-button>
                  </md-radio-group>
                </md-input-container>
              </div>
              <div layout="row">
                <md-input-container flex>
                  <label>Account Number</label>
                  <input type="text" required min="" name="accountNo" ng-maxlength="30" ng-model="vm.avaTax.accountNo">
                  <div ng-messages="vm.avalaraTaxForm.accountNo.$error">
                    <div ng-message="maxlength">Account Number must be between 1-30 characters</div>
                  </div>
                </md-input-container>
              </div>
              <div layout="row">
                <md-input-container flex>
                  <label>License Key</label>
                  <input type="text" required min="" name="licenseKey" ng-maxlength="30" ng-model="vm.avaTax.licenseKey">
                  <div ng-messages="vm.avalaraTaxForm.licenseKey.$error">
                    <div ng-message="maxlength">License Key must be between 1-30 characters</div>
                  </div>
                </md-input-container>
              </div>
              <div layout="row">
                <md-input-container flex>
                  <label>Company Code</label>
                  <input type="text" required min="" name="companyCode" ng-maxlength="30" ng-model="vm.avaTax.companyCode">
                  <div ng-messages="vm.avalaraTaxForm.companyCode.$error">
                    <div ng-message="maxlength">Company Code must be between 1-30 characters</div>
                  </div>
                </md-input-container>
              </div>
              <div layout="row" layout-align="end center">
                <md-progress-circular class="gen-save-indecator" ng-if="vm.submittedAvaTax"></md-progress-circular>
                <md-button ng-disabled="vm.submittedAvaTax" type="submit" form="avalaraTaxForm" style="height:40px;" class="md-raised md-accent">Save</md-button>
              </div>
            </form>
          </md-content>
        </div>
      </div>
    </md-content>
  
  </md-dialog>