<md-dialog class="prompt-dialog guided-payment" style="width: 65%;">
    <md-toolbar>
        <div class="md-toolbar-tools" layout="row" layout-align="space-between center">
            <div layout="row" layout-align="start center">
                <md-icon md-font-icon="icon-login"></md-icon> <h3>Register with Zoho</h3>
            </div>
            <md-button class="md-icon-button" ng-click="vm.closeDialog()" aria-label="Close dialog">
                <md-icon md-font-icon="icon-close"></md-icon>
            </md-button>
        </div>
    </md-toolbar>


    <md-content class="p-16" ms-scroll>
        <div layout="row">
            <div layout="column" class="guide-portion" flex>
                <div layout="column" style="margin-bottom: 20px">
                    <h2 class="mb-10">Zoho..</h2>
                </div>
                <p class="m-0">
                    "Run your entire business with Zoho's suite of online productivity tools and SaaS applications. Over 25 million users trust us worldwide."
                </p>
                </br>
                <i class="op-5">For more information, visit <a href="https://www.zoho.com/" target="_blank">Zoho</a></i>
            </div>
            <div class="w-20"></div>
            <div class="form-portion" layout="column" flex="40">
                <div md-whiteframe="3dp" flex class="p-10">
                    <form id="zohoForm" name="vm.zohoForm" ng-submit="vm.submitZohoConfig()" novalidate>
                        <div class="p-0" ng-if="zohoConnected">
                            <div layout="row" layout-align="start center">
                                <h3 ><b>Connected to Zoho</b></h3>
                            </div>
                            <div layout="row" layout-align="start center">
                                <md-button type="button" ng-click="vm.removeZohoConfig($event)" ng-disabled="vm.submittedZohoConfig" style="height:30px;" class="md-raised warm">Remove Account</md-button>
                            </div>
                        </div>
                        <div class="p-0" ng-if="!zohoConnected">
                                <div layout="row">
                                    <md-input-container flex>
                                        <label>Username</label>
                                        <input type="text" ng-required="true" min="" name="username" ng-maxlength="100" ng-model="vm.zohoConfigContent.username">
                                        <div ng-messages="vm.zohoForm.username.$error">
                                            <div ng-message="maxlength">Username must be between 1-100 characters</div>
                                        </div>
                                    </md-input-container>
                                </div>
                                <div layout="row">
                                    <md-input-container flex>
                                        <label>Password</label>
                                        <input type="password" ng-required="true" min="" name="password" ng-maxlength="100" ng-model="vm.zohoConfigContent.password">
                                        <div ng-messages="vm.zohoForm.password.$error">
                                            <div ng-message="maxlength">Password must be between 1-100 characters</div>
                                        </div>
                                    </md-input-container>
                                </div>
                                <div layout="row">
                                    <md-input-container flex>
                                        <label>Organization ID</label>
                                        <input type="text" ng-required="true" min="" name="organizationId" ng-maxlength="100" ng-model="vm.zohoConfigContent.organizationId">
                                        <div ng-messages="vm.zohoForm.organizationId.$error">
                                            <div ng-message="maxlength">Organization ID must be between 1-100 characters</div>
                                        </div>
                                    </md-input-container>
                                </div>
                                <div class="text-right">
                                    <md-button ng-disabled="vm.submittedZohoConfig" type="submit" form="zohoForm" class="md-raised md-accent">Register</md-button>
                                </div>
                            </div>
                    </form>
                </div>
            </div>
        </div>
    </md-content>

</md-dialog>
