<md-dialog class="prompt-dialog guided-payment" style="width: 65%;">
    <md-toolbar>
        <div class="md-toolbar-tools" layout="row" layout-align="space-between center">
            <div layout="row" layout-align="start center">
                <md-icon md-font-icon="icon-cog"></md-icon> <h3>{{vm.migrateTool}} Migration Configuration</h3>
            </div>
            <md-button class="md-icon-button" ng-click="vm.closeDialog()" aria-label="Close dialog">
                <md-icon md-font-icon="icon-close"></md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-content class="p-16" ms-scroll>
        <div layout="row">
            <div layout="column" class="guide-portion" flex>
                <div layout="column" style="margin-bottom: 20px">
                    <h2 class="mb-10">{{vm.migrateTool}}..</h2>
                </div>
                <p class="m-0">
                    {{vm.migrateToolDescription}}
                </p>
                </br>
                <i class="op-5">For more information, visit <a href="{{vm.migrateToolUrl}}" target="_blank">{{vm.migrateTool}}</a></i>
            </div>
            <div class="w-20"></div>
            <form name="vm.migrationConfigForm" id="migrationConfigForm" ng-submit="vm.submitMigrationConfig(vm.migrateTool)" flex>
                <div class="p-15" md-whiteframe="1dp">
                    <div>
                        <div class="group-sub-head" style="margin-top: 0">Migration Configuration</div>
                        <div layout="row" class="pt-20" flex>
                            <md-input-container class="md-block m-0" flex>
                                <label>Sync Profiles</label>
                                <md-select flex ng-required="true" ng-model="vm.migrationConfig.migrationProfiles">
                                    <md-option ng-value="'Migrate Existing Profiles'">Migrate existing profiles and now onwards</md-option>
                                    <md-option ng-value="'Migrate profiles from now onwards'">Migrate profiles from now onwards</md-option>
                                </md-select>
                            </md-input-container>
                        </div>
                        <div layout="row" class="pt-20" flex>
                            <md-input-container class="md-block m-0" flex>
                                <label>Sync Products</label>
                                <md-select flex ng-required="true" ng-model="vm.migrationConfig.migrationProducts">
                                    <md-option ng-value="'Migrate Existing Products'">Migrate existing Products and now onwards</md-option>
                                    <md-option ng-value="'Migrate Products from now onwards'">Migrate Products from now onwards</md-option>
                                </md-select>
                            </md-input-container>
                        </div>
                        <div layout="row" class="pt-20" flex>
                            <md-input-container class="md-block m-0" flex>
                                <label>Sync Plans</label>
                                <md-select flex ng-required="true" ng-model="vm.migrationConfig.migrationPlans">
                                    <md-option ng-value="'Migrate Existing Plans'">Migrate existing Plans and now onwards</md-option>
                                    <md-option ng-value="'Migrate Plans from now onwards'">Migrate Plans from now onwards</md-option>
                                </md-select>
                            </md-input-container>
                        </div>
                        <div layout="row" class="pt-20" flex>
                            <md-input-container class="md-block m-0" flex>
                                <label>Sync Invoices</label>
                                <md-select flex ng-required="true" ng-model="vm.migrationConfig.migrationInvoices">
                                    <md-option ng-value="'Migrate Existing Invoices'">Migrate existing Invoices and now onwards</md-option>
                                    <md-option ng-value="'Migrate Invoices from now onwards'">Migrate Invoices from now onwards</md-option>
                                </md-select>
                            </md-input-container>
                        </div>
                    </div>
                </div>

                <md-dialog-actions layout="row" layout-align="end center">
                    <md-progress-circular class="gen-save-indicator" ng-if="vm.migrationConfigSubmitted"></md-progress-circular>
                    <md-button ng-disabled="vm.migrationConfigSubmitted" type="submit" class="md-raised md-accent" form="migrationConfigForm">Save</md-button>
                </md-dialog-actions>
            </form>
        </div>
    </md-content>
</md-dialog>
