<md-dialog class="prompt-dialog guided-payment" style="width: 65%;">
    <md-toolbar>
        <div class="md-toolbar-tools" layout="row" layout-align="space-between center">
            <div layout="row" layout-align="start center">
                <md-icon md-font-icon="icon-login"></md-icon> <h3>Register with Webxpay</h3>
            </div>
            <md-button class="md-icon-button" ng-click="closeDialog()" aria-label="Close dialog">
                <md-icon md-font-icon="icon-close"></md-icon>
            </md-button>
        </div>
    </md-toolbar>


    <md-content class="p-16" ms-scroll>
        <div layout="row">
            <div layout="column" class="guide-portion" flex>
                <div layout="column" style="margin-bottom: 20px">
                    <div class="mb-10">Webxpay accepts..</div>
                    <div class="2c0-cards">
                        <img src="assets/images/webxpay-accepts.png" alt=""/>
                    </div>
                </div>
                <md-divider></md-divider>
                <h3 class="mb-0 fw-500"><md-icon md-font-icon="icon-information-outline"></md-icon> Webxpay</h3>

                <p>Make online purchases easy and safe for you by accepting all major credit/debit cards, mobile wallets and internet banking networks in Sri Lanka. This gateway is also supported on all major e-commerce platforms.
                </p>
                <i class="op-5 mt-40">For more information, visit the <a href="https://webxpay.com" target="_blank">Official site</a></i>
            </div>
            <div class="w-20"></div>
            <div class="form-portion" layout="column" flex="40">
                <div md-whiteframe="3dp" flex class="p-10">
                    <form name="webxpayForm" ng-submit="submitWebxpayRegistration()" fill-height novalidate>
                        <div layout="column" layout-align="space-between start" fill-height>
                            <md-input-container fill-width class="mb-0">
                                <label>Secret key</label>
                                <input type="text" name="secretkey" required ng-model="webxpay.skey"/>
                                <div ng-messages="webxpayForm.secretkey.$error">
                                    <div ng-message="required"></div>
                                </div>
                            </md-input-container>

                            <md-input-container fill-width class="mb-0">
                                <label>Public key</label>
                                <input type="text" name="publickey" required ng-model="webxpay.pkay"/>
                                <div ng-messages="webxpayForm.publickey.$error">
                                    <div ng-message="required"></div>
                                </div>
                            </md-input-container>

                            <div flex></div>

                            <div layout="row" layout-align="end center" fill-width>
                                <!--<md-button class="md-primary" ng-click="closeDialog()">Cancel</md-button>-->
                                <md-button class="md-raised md-accent" type="submit">Submit</md-button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </md-content>

</md-dialog>
