<md-dialog class="prompt-dialog guided-payment" style="width: 65%;">
    <md-toolbar>
        <div class="md-toolbar-tools" layout="row" layout-align="space-between center">
            <div layout="row" layout-align="start center">
                <md-icon md-font-icon="icon-login"></md-icon> <h3>Register with Braintree</h3>
            </div>
            <md-button class="md-icon-button" ng-click="closeDialog()" aria-label="Close dialog">
                <md-icon md-font-icon="icon-close"></md-icon>
            </md-button>
        </div>
    </md-toolbar>


    <md-content class="p-16" ms-scroll>
        <div layout="row">
            <div layout="column" class="guide-portion" flex>
                <div layout="column" style="margin-bottom: 20px">
                    <div class="mb-10">Braintree accepts...</div>
                    <div class="2c0-cards">
                        <img src="assets/images/braintree-accepts.png" alt=""/>
                    </div>
                </div>
                <md-divider></md-divider>
                <h3 class="mb-0 fw-500"><md-icon md-font-icon="icon-information-outline"></md-icon> IMPORTANT!</h3>
                <p>CloudCharge will use your default Braintree merchant account for transactions if you do not provide
                    a merchant account id. Therefore, CloudCharge will transact ONLY in the currency of your default Braintree
                    merchant account, REGARDLESS of the CloudCharge currency setting. Please be sure that your currency is set
                    to the currency of your default merchant account if not using a merchant account id, or currency of the
                    merchant account id provided. Otherwise your customers will be shown the incorrect currency within CloudCharge.
                </p>
                <i class="op-5"><b>Note: </b> </br>Braintree has two different APIs. If you were provided with a Login and Password rather than a Merchant ID,
                    public key and private key, you will need to contact Support to enable the legacy v1 API.</i>
            </div>
            <div class="w-20"></div>
            <div class="form-portion" layout="column" flex="40">
                <div md-whiteframe="3dp" flex class="p-10">
                    <form name="braintreeForm" ng-submit="submitbraintreeRegistration()" flex novalidate>
                        <div layout="column" layout-align="space-between start" fill-height>
                            <md-input-container fill-width class="mb-0">
                                <label>Private Key</label>
                                <input type="text" name="servicekey" required ng-model="braintree.skey"/>
                                <div ng-messages="braintreeForm.servicekey.$error">
                                    <div ng-message="required"></div>
                                </div>
                            </md-input-container>

                            <md-input-container fill-width class="mb-0">
                                <label>Public key</label>
                                <input type="text" name="publickey" required ng-model="braintree.pkey"/>
                                <div ng-messages="braintreeForm.publickey.$error">
                                    <div ng-message="required"></div>
                                </div>
                            </md-input-container>

                            <md-input-container fill-width class="mb-0">
                                <label>Merchant ID</label>
                                <input type="text" name="merchantId" required ng-model="braintree.merchantId"/>
                                <div ng-messages="braintreeForm.merchantId.$error">
                                    <div ng-message="required"></div>
                                </div>
                            </md-input-container>

                            <md-input-container fill-width class="mb-0">
                                <label>Currency</label>
                                <input type="text" name="currency" required ng-model="braintree.currency"/>
                                <div ng-messages="braintreeForm.currency.$error">
                                    <div ng-message="required"></div>
                                </div>
                            </md-input-container>

                            <div flex></div>

                            <div layout="row" layout-align="end center" fill-width>
                                <!--<md-button class="md-primary" ng-click="closeDialog()">Cancel</md-button>-->
                                <md-button class="md-raised md-accent" type="submit">Submit</md-button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </md-content>

</md-dialog>
